.vs/
CrystalReportsWebSite1/obj/
CrystalReportsWebSite1/bin/
packages/
CrystalReportsWebSite1/tej-base/Upload/
CrystalReportsWebSite1/tej-base/xmlfile/
CrystalReportsWebSite1/tej-base/temp/
Crystal Reports Backup Files/
CrystalReportsWebSite1/msgFile.txt
CrystalReportsWebSite1/err.txt
CrystalReportsWebSite1/logFile.txt
